.mat-row {
    background-color: #f4511e;
    opacity: 0.8;
    transition: 0.3s;
}

.mat-row:hover {
    opacity: 1
  }

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid maroon;
    box-sizing: border-box;
    height: 100px;
}

.container {
    height: 400px;
}

table {
    width: 100%;
  }

.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;
}

mat-grid-tile {
    background-color: lightblue;
}